<footer class="footer @@object-footer">
    <div class="container">
        <h2 class="h2">Контакти</h2>

        <div class="footer__wrap">

            <div class="seller-block">

                <picture>
                    <source srcset="/img/seller-photo.webp"
                            type="image/webp">

                    <img src="/img/seller-photo.jpg"
                         class="seller-photo"
                         alt="B-Property контакти">
                </picture>

                <div class="seller-contacts-block">

                    <ul class="seller-contacts">
                        <li class="seller-contacts__item">
                            <p class="seller-name">Стефанія</p>
                        </li>
                        <li class="seller-contacts__item">
                            <a class="contact-link" href='tel:+380972921193'>+38 097 292 11 93</a>
                        </li>
                        <li class="seller-contacts__item">
                            <a href='mailto:info@b-property.com.ua' class='contact-link'>info@b-property.com.ua</a>
                        </li>
                        <li class="seller-contacts__item">
                            <ul class="messengers-list main-footer__messenger-list">
                                <li class="messengers-list__item">
                                    <a class="messengers-list__link" href="viber://chat?number=+380972921193"
                                       target="_blank">
                                        <svg class="messengers-list__icon">
                                            <use xlink:href="img/sprite.svg#sprite--viber"/>
                                        </svg>
                                    </a>
                                </li>

                                <li class="messengers-list__item">
                                    <a class="messengers-list__link" href="https://wa.me/+380630372345" target="_blank">
                                        <svg class="messengers-list__icon">
                                            <use xlink:href="img/sprite.svg#sprite--whatsapp"/>
                                        </svg>
                                    </a>
                                </li>
                                <li class="messengers-list__item">
                                    <a class="messengers-list__link" href="tg://resolve?domain=stefaniya_estate"
                                       target="_blank">
                                        <svg class="messengers-list__icon">
                                            <use xlink:href="img/sprite.svg#sprite--telegram"/>
                                        </svg>
                                    </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="main-footer__block">

                <button class="btn js-menu__btn">Інші пропозиції <br> Нерухомості</button>

                <a class="logo-link" href="#">
                    <img class="logo-img main-footer__logo-img" src="/img/logo.png" alt="Логотип">
                </a>
            </div>

        </div>
    </div>
</footer>
