<header class="object-header">
    <div class="container">
        <div class="header__wrap">

            <div class="address">
                <p>@@address<br><strong>@@name</strong></p>
            </div>

            <div class="contacts">

                <ul class="messengers-list">
                    <li class="messengers-list__item">
                        <a class="messengers-list__link" href="viber://chat?number=+380972921193" target="_blank">

                            <svg class="messengers-list__icon">
                                <use xlink:href="img/sprite.svg#sprite--viber"/>
                            </svg>

                        </a>
                    </li>

                    <li class="messengers-list__item">
                        <a class="messengers-list__link" href="https://wa.me/+380630372345" target="_blank">
                            <svg class="messengers-list__icon">
                                <use xlink:href="img/sprite.svg#sprite--whatsapp"/>
                            </svg>
                        </a>
                    </li>
                    <li class="messengers-list__item">
                        <a class="messengers-list__link" href="tg://resolve?domain=stefaniya_estate" target="_blank">
                            <svg class="messengers-list__icon">
                                <use xlink:href="img/sprite.svg#sprite--telegram"/>
                            </svg>
                        </a></li>
                </ul>

                <a class="contact-link object-header__contact-link" href='tel:+380972921193'>+38 097 292 11 93</a>
            </div>
        </div>
    </div>

    <button class='menu__btn object-header__menu-btn js-menu__btn'>
        <span class='burger object-header__burger'></span>
    </button>

    @@include('../menu/_menu.html')
</header>