<section class="advantages">
    <div class="container">
        <div class="advantages__wrap">
            <div class="advantages__content">
                <ul class="advantages__list">
                    <li class="advantages__item">
                        <p>Arch House</p>
                    </li>
                    <li class="advantages__item">
                        <p>Arch House</p>
                    </li>
                    <li class="advantages__item">
                        <p>Arch House</p>
                    </li>
                    <li class="advantages__item">
                        <p>Arch House</p>
                    </li>
                    <li class="advantages__item">
                        <p>Arch House</p>
                    </li>
                </ul>
            </div>

            <div class="advantages__img-wrap">
                <picture>
                    <source srcset="/img/arch/content-photos/arch-photo-right.webp 1x, /img/arch/content-photos/arch-photo-right@2x.webp 2x"
                            type="image/webp">

                    <img src="/img/arch/content-photos/arch-photo-right.jpg"
                         srcset="/img/arch/content-photos/arch-photo-right@2x.jpg 2x"
                         alt=""
                         class="advantages__img">
                </picture>

                <div class="advantages__vertical-wrap">
                    <div class="advantages__vertical flex --align-center --just-center">
                        <p>Arch House</p>
                    </div>

                    <div class="advantages__text-wrap">
                        <p class="advantages__text">Arch House</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>