<section class="object-info">
    <div class="container">
        <div class="swiper-container object__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/01.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/01.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/01.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/03.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/03.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/03.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/04.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/04.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/04.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/05.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/05.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/05.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/06.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/06.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/06.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/07.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/07.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/07.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/08.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/08.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/08.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/09.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/09.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/09.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/10.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/10.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/10.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/11.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/11.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/11.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="a-slider-light-gallery" href="/img/arch/a-slider/12.jpg">
                        <picture>
                            <source srcset="/img/arch/a-slider/12.webp"
                                    type="image/webp">

                            <img src="/img/arch/a-slider/12.jpg"
                                 alt="ЖК Arch House"
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

        <h2 class="h2">ТЕХНІЧНІ ХАРАКТЕРИСТИКИ</h2>

        <div class="info__list-wrap">
            <div class="info__list-side">
                <ul class="info__list">
                    <li class="info__item">Площа
                        <p class="info__text">250 кв. м</p>
                    </li>
                    <li class="info__item">Open Space
                        <p class="info__text">1</p>
                    </li>
                    <li class="info__item">Кабінет керівника
                        <p class="info__text">1</p>
                    </li>
                    <li class="info__item">Конференц-зал
                        <p class="info__text">1</p>
                    </li>

                    <li class="info__item">Кабінетів
                        <p class="info__text">3</p>
                    </li>
                    <li class="info__item">Кухні
                        <p class="info__text">2</p>
                    </li>
                    <li class="info__item">Санвузли
                        <p class="info__text">3</p>
                    </li>
                </ul>
            </div>

            <div class="info__list-side">
                <ul class="info__list">
                    <li class="info__item">Дизайнерський ремонт.</li>
                    <li class="info__item">Повністю обладнаний меблями та побутовою технікою.</li>
                    <li class="info__item">Система відеоспостереження. Сигналізація. Броньовані вікна. Система безключового доступу.</li>
                    <li class="info__item">Система центрального кондиціонування та примусової вентиляції.</li>
                    <li class="info__item">Власна система очищення води.</li>
                </ul>
            </div>
        </div>
    </div>
</section>