<section class="botanic-benefits --bg--black --bg--min">
    <div class="container">
        <ul class="benefits">
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#sprite--distance"/>
                </svg>

                <p>Arch Benefits</p>
            </li>
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#sprite--direction"/>
                </svg>

                <p>Arch Benefits</p>
            </li>

            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#sprite--infrastructure"/>
                </svg>

                <p>Arch Benefits</p>
            </li>

            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#sprite--distance-2"/>
                </svg>

                <p>Arch Benefits</p>
            </li>
        </ul>
    </div>
</section>