<section class="object-plan --bg--black --bg--min">
    <div class="container">
        <h2 class="h2">ПЛАНУВАННЯ</h2>

        <a class="btn object-plan__btn" data-fslightbox="arch-plan-btn" href="/img/arch/arch-plan.png">+</a>

        <a data-fslightbox="arch-plan" href="/img/arch/arch-plan.png">
            <picture>
                <source srcset="/img/arch/arch-plan.webp"
                        type="image/webp">

                <img src="/img/arch/arch-plan.png"
                     alt=""
                     class="slider-img">
            </picture>
        </a>
    </div>
</section>