<section class="object-info">
    <div class="container">
        <div class="swiper-container object__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/1@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/1.webp 1x, /img/botanic/b-slider/1@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/1.jpg"
                                 srcset="/img/botanic/b-slider/1@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/2@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/2.webp 1x, /img/botanic/b-slider/2@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/2.jpg"
                                 srcset="/img/botanic/b-slider/2@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/3@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/3.webp 1x, /img/botanic/b-slider/3@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/3.jpg"
                                 srcset="/img/botanic/b-slider/3@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/4@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/4.webp 1x, /img/botanic/b-slider/4@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/4.jpg"
                                 srcset="/img/botanic/b-slider/4@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/5@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/5.webp 1x, /img/botanic/b-slider/5@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/5.jpg"
                                 srcset="/img/botanic/b-slider/5@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/6@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/6.webp 1x, /img/botanic/b-slider/6@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/6.jpg"
                                 srcset="/img/botanic/b-slider/6@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/7@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/7.webp 1x, /img/botanic/b-slider/7@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/7.jpg"
                                 srcset="/img/botanic/b-slider/7@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/8@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/8.webp 1x, /img/botanic/b-slider/8@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/8.jpg"
                                 srcset="/img/botanic/b-slider/8@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/9@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/9.webp 1x, /img/botanic/b-slider/9@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/9.jpg"
                                 srcset="/img/botanic/b-slider/9@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/10@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/10.webp 1x, /img/botanic/b-slider/10@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/10.jpg"
                                 srcset="/img/botanic/b-slider/10@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/11@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/11.webp 1x, /img/botanic/b-slider/11@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/11.jpg"
                                 srcset="/img/botanic/b-slider/11@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/12@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/12.webp 1x, /img/botanic/b-slider/12@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/12.jpg"
                                 srcset="/img/botanic/b-slider/12@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/13@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/13.webp 1x, /img/botanic/b-slider/13@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/13.jpg"
                                 srcset="/img/botanic/b-slider/13@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/14@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/14.webp 1x, /img/botanic/b-slider/14@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/14.jpg"
                                 srcset="/img/botanic/b-slider/14@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/15@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/15.webp 1x, /img/botanic/b-slider/15@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/15.jpg"
                                 srcset="/img/botanic/b-slider/15@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fslightbox="b-slider-light-gallery" href="/img/botanic/b-slider/16@2x.jpg">
                        <picture>
                            <source srcset="/img/botanic/b-slider/16.webp 1x, /img/botanic/b-slider/16@2x.webp 2x"
                                    type="image/webp">

                            <img src="/img/botanic/b-slider/16.jpg"
                                 srcset="/img/botanic/b-slider/16@2x.jpg 2x"
                                 alt=""
                                 class="slider-img">
                        </picture>
                    </a>
                </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

        <h2 class="h2">ТЕХНІЧНІ ХАРАКТЕРИСТИКИ</h2>

        <div class="info__list-wrap">
            <div class="info__list-side">
                <ul class="info__list">
                    <li class="info__item">Arch House
                        <p class="info__text">250 A м</p>
                    </li>
                    <li class="info__item">Arch House
                        <p class="info__text">A</p>
                    </li>
                    <li class="info__item">Arch House
                        <p class="info__text">A</p>
                    </li>

                    <li class="info__item">Arch House
                        <p class="info__text">A</p>
                    </li>
                    <li class="info__item">Arch House
                        <p class="info__text">A</p>
                    </li>
                    <li class="info__item">Arch House
                        <p class="info__text">A</p>
                    </li>
                    <li class="info__item">Arch House
                        <p class="info__text">A</p>
                    </li>
                    <li class="info__item">Arch House
                        <p class="info__text">A</p>
                    </li>

                </ul>
            </div>

            <div class="info__list-side">
                <ul class="info__list">
                    <li class="info__item">Arch House</li>
                    <li class="info__item">Arch House</li>
                    <li class="info__item">Arch House</li>
                    <li class="info__item">Arch House</li>
                    <li class="info__item">Arch House</li>
                    <li class="info__item">Arch House</li>
                    <li class="info__item">Arch House</li>
                    <li class="info__item">Arch House</li>
                </ul>
            </div>
        </div>
    </div>
</section>