.arch-heading-bg {
  background-image: url("/img/arch/intro/arch-intro-left.jpg");

  &:before {
    background: rgba(20, 20, 20, .92);
  }
}

.arch-photo-bg {
  background-image: url("/img/arch/intro/arch-intro-right.jpg");
}