<section class="advantages">
    <div class="container">
        <div class="advantages__wrap --reverse">
            <div class="advantages__content">
                <ul class="advantages__list">
                    <li class="advantages__item">
                        <p>Земельна ділянка 0.6 га з ландшафтним дизайном, декоративною підсвіткою, стежками для прогулянок.</p>
                    </li>
                    <li class="advantages__item">
                        <p>SPA центр: хамам, баня, 2 купелі, масажний кабінет, Lounge кімната.</p>
                    </li>
                    <li class="advantages__item">
                        <p>Відкритий басейн з підігрівом. BBQ зона. Баскетбольний майданчик. Фітнес зал.</p>
                    </li>
                    <li class="advantages__item">
                        <p>Закритий паркінг на 5 автомобілів. 6 гостьових паркомісць.</p>
                    </li>
                    <li class="advantages__item">
                        <p>Окремий вихід у ліс.</p>
                    </li>
                </ul>
            </div>

            <div class="advantages__img-wrap">
                <picture>
                    <source srcset="/img/residence/advantages/photo-l.webp 1x, /img/residence/advantages/photo-l@2x.webp 2x"
                            type="image/webp">

                    <img src="/img/residence/advantages/photo-l.jpg"
                         srcset="/img/residence/advantages/photo-l@2x.jpg 2x"
                         alt=""
                         class="advantages__img">
                </picture>

                <div class="advantages__vertical-wrap">
                    <div class="advantages__vertical flex --align-center --just-center">
                        <p>5 КМ ВІД КИЄВА</p>
                    </div>

                    <div class="advantages__text-wrap">
                        <p class="advantages__text">БУДИНОК У СОСНОВОМУ ЛІСІ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>