<section class="advantages">
    <div class="container">
        <div class="advantages__wrap">
            <div class="advantages__content">
                <ul class="advantages__list">
                    <li class="advantages__item">
                        <p>Авторський ремонт в класичному стилі з використанням натурального каменю та дерева.</p>
                    </li>
                    <li class="advantages__item">
                        <p>Італійські меблі, люстри Svarowski, побутова техніка: Smeg, Miele, сантехніка: Lineatre,
                            Villeroy&Bosh.</p>
                    </li>
                    <li class="advantages__item">
                        <p>Кінозал, фітнес зал, дитяча ігрова кімната, камінна зала.</p>
                    </li>
                    <li class="advantages__item">
                        <p>Окремий блок для персоналу з власним входом.</p>
                    </li>
                    <li class="advantages__item">
                        <p>Гостьовий будинок.</p>
                    </li>
                </ul>
            </div>

            <div class="advantages__img-wrap">
                <picture>
                    <source srcset="/img/residence/advantages/hall.webp 1x, /img/residence/advantages/hall@2x.webp 2x"
                            type="image/webp">

                    <img src="/img/residence/advantages/hall.jpg"
                         srcset="/img/residence/advantages/hall@2x.jpg 2x"
                         alt=""
                         class="advantages__img">
                </picture>

                <div class="advantages__vertical-wrap">
                    <div class="advantages__vertical flex --align-center --just-center">
                        <p>Три поверхи</p>
                    </div>

                    <div class="advantages__text-wrap">
                        <p class="advantages__text">ЕРГОНОМІЧНЕ ПЛАНУВАННЯ</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>