.residence-heading-bg {
  background-image: url("/img/residence/house-intro-left.webp");

  &:before {
    background: rgba(20, 20, 20, .92);
  }
}

@supports not (background-image: url("/img/residence/intro/house-intro-left.webp")) {
  .residence-heading-bg {
    background-image: url("/img/residence/intro/house-intro-left.jpg")
  }
}

.residence-photo-bg {
  background-image: url("/img/residence/intro/house-intro-right.webp");
}

@supports not (background-image: url("/img/residence/intro/house-intro-right.webp")) {
  .residence-photo-bg {
    background-image: url("/img/residence/intro/house-intro-right.jpg")
  }
}