<section class="object-info">
    <div class="container">
            <div class="swiper-container object__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/3@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/3.webp 1x, /img/residence/r-slider/3@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/3.jpg"
                                     srcset="/img/residence/r-slider/3@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/4@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/4.webp 1x, /img/residence/r-slider/4@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/4.jpg"
                                     srcset="/img/residence/r-slider/4@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/5@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/5.webp 1x, /img/residence/r-slider/5@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/5.jpg"
                                     srcset="/img/residence/r-slider/5@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/6@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/6.webp 1x, /img/residence/r-slider/6@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/6.jpg"
                                     srcset="/img/residence/r-slider/6@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/7@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/7.webp 1x, /img/residence/r-slider/7@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/7.jpg"
                                     srcset="/img/residence/r-slider/7@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/8@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/8.webp 1x, /img/residence/r-slider/8@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/8.jpg"
                                     srcset="/img/residence/r-slider/8@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/9@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/9.webp 1x, /img/residence/r-slider/9@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/9.jpg"
                                     srcset="/img/residence/r-slider/9@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/10@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/10.webp 1x, /img/residence/r-slider/10@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/10.jpg"
                                     srcset="/img/residence/r-slider/10@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/11@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/11.webp 1x, /img/residence/r-slider/11@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/11.jpg"
                                     srcset="/img/residence/r-slider/11@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/12@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/12.webp 1x, /img/residence/r-slider/12@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/12.jpg"
                                     srcset="/img/residence/r-slider/12@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/13@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/13.webp 1x, /img/residence/r-slider/13@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/13.jpg"
                                     srcset="/img/residence/r-slider/13@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/14@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/14.webp 1x, /img/residence/r-slider/14@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/14.jpg"
                                     srcset="/img/residence/r-slider/14@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/15@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/15.webp 1x, /img/residence/r-slider/15@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/15.jpg"
                                     srcset="/img/residence/r-slider/15@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/16@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/16.webp 1x, /img/residence/r-slider/16@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/16.jpg"
                                     srcset="/img/residence/r-slider/16@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/17@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/17.webp 1x, /img/residence/r-slider/17@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/17.jpg"
                                     srcset="/img/residence/r-slider/17@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/18@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/18.webp 1x, /img/residence/r-slider/18@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/18.jpg"
                                     srcset="/img/residence/r-slider/18@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/19@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/19.webp 1x, /img/residence/r-slider/19@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/19.jpg"
                                     srcset="/img/residence/r-slider/19@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/20@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/20.webp 1x, /img/residence/r-slider/20@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/20.jpg"
                                     srcset="/img/residence/r-slider/20@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/21@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/21.webp 1x, /img/residence/r-slider/21@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/21.jpg"
                                     srcset="/img/residence/r-slider/21@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/22@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/22.webp 1x, /img/residence/r-slider/22@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/22.jpg"
                                     srcset="/img/residence/r-slider/22@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/23@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/23.webp 1x, /img/residence/r-slider/23@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/23.jpg"
                                     srcset="/img/residence/r-slider/23@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/1@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/1.webp 1x, /img/residence/r-slider/1@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/1.jpg"
                                     srcset="/img/residence/r-slider/1@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fslightbox="r-slider-light-gallery" href="/img/residence/r-slider/2@2x.jpg">
                            <picture>
                                <source srcset="/img/residence/r-slider/2.webp 1x, /img/residence/r-slider/2@2x.webp 2x"
                                        type="image/webp">

                                <img src="/img/residence/r-slider/2.jpg"
                                     srcset="/img/residence/r-slider/2@2x.jpg 2x"
                                     alt=""
                                     class="slider-img">
                            </picture>
                        </a>
                    </div>
                </div>

                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>

        <h2 class="h2">ТЕХНІЧНІ ХАРАКТЕРИСТИКИ</h2>

        <div class="info__list-wrap">
            <div class="info__list-side">
                <ul class="info__list">
                    <li class="info__item">Зімельна ділянка
                        <p class="info__text">60 соток</p>
                    </li>
                    <li class="info__item">Основний будинок
                        <p class="info__text">1000 кв. м</p>
                    </li>
                    <li class="info__item">Спальні кімнати
                        <p class="info__text">4</p>
                    </li>
                    <li class="info__item">Камінна зала
                        <p class="info__text">1</p>
                    </li>
                    <li class="info__item">Вітальня
                        <p class="info__text">1</p>
                    </li>
                    <li class="info__item">Кухня
                        <p class="info__text">1</p>
                    </li>
                    <li class="info__item">Кінозал
                        <p class="info__text">1</p>
                    </li>
                    <li class="info__item">Фітнес зал
                        <p class="info__text">1</p>
                    </li>
                    <li class="info__item">Санвузли
                        <p class="info__text">9</p>
                    </li>

                    <li class="info__item">Гостьовий будинок
                        <p class="info__text">60 кв. м</p>
                    </li>
                    <li class="info__item">SPA центр
                        <p class="info__text">130 кв. м</p>
                    </li>

                </ul>
            </div>

            <div class="info__list-side">
                <ul class="info__list">

                    <li class="info__item">Відкритий басейн з підігрівом
                        <p class="info__text">1</p>
                    </li>
                    <li class="info__item">Баскетбольний майданчик
                        <p class="info__text">1</p>
                    </li>
                    <li class="info__item">Дитячий майданчик
                        <p class="info__text">1</p>
                    </li>
                    <li class="info__item">Скважини
                        <p class="info__text">2</p>
                    </li>
                    <li class="info__item">Система очистки води
                    </li>
                    <li class="info__item">Закриті паркомісця
                        <p class="info__text">5</p>
                    </li>
                    <li class="info__item">Відкриті паркомісця
                        <p class="info__text">6</p>
                    </li>

                    <li class="info__item">Дизельний генератор. Час безперервної роботи:
                        <p class="info__text">7 днів</p>
                    </li>
                    <li class="info__item">Електрика
                        <p class="info__text">V 220 | 65 кВт</p>
                    </li>
                    <li class="info__item">Канальне кондиціонування. Приточно-витяжна система вентиляцій.</li>
                    <li class="info__item">Авторський ремонт</li>
                    <li class="info__item ">Повністю обладнаний меблями і побутовою технікою
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>