.object__slider {
  margin-bottom: 50px;

  .swiper-pagination {
    bottom: 10px;

    @media (min-width: 576px) {
      bottom: 20px;
    }

    .swiper-pagination-bullet {
      width: 5px;
      flex: 0 0 5px;
      height: 5px;
      opacity: .8;
      border-radius: 0;
      background: white;

      @media (min-width: 576px) {
        width: 10px;
        flex: 0 0 10px;
        height: 10px;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: #f44336;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: white;

    @media (hover) {
      &:hover, &:focus-visible {
        color: #f44336;
      }
    }
  }
}

.slider-img {
  width: 100%;
}