<nav class="nav flex --dir-col --just-center --align-center">
    <ul class="menu">
        <li class="menu__item">
            <a href="../../../index.html" class="menu__link">ГОЛОВНА</a>
        </li>
        <li class="menu__item">
            <a href="../../../arch-house.html" class="menu__link">
                <span class="descriptor">Продаж</span>
                Преміальний офіс в клубному будинку Arch&nbsp;House
            </a>
        </li>
        <li class="menu__item">
            <a href="../../../botanic.html" class="menu__link">
                <span class="descriptor">Продаж</span>
                Готовий бізнес з доходом 11.2% в доларах на рік. <br>
                Офіс в ЖК Botanic Towers
            </a>
        </li>
        <li class="menu__item">
            <a href="../../../residence.html" class="menu__link">
                <span class="descriptor">Продаж</span>
                Заміська резеденція в сосновому лісі
            </a>
        </li>
    </ul>
    <button class="menu-close">&times;</button>
</nav>

