<section class="advantages">
    <div class="container">
        <div class="advantages__wrap">
            <div class="advantages__content">
                <ul class="advantages__list">
                    <li class="advantages__item">
                        <p>Вікна з ексклюзивним панорамним видом на Київ.</p>
                    </li>
                    <li class="advantages__item">
                        <p>Високий рівень природнього освітлення.</p>
                    </li>
                    <li class="advantages__item">
                        <p>В приміщеннях виникає ілюзія відкритого повітря і участі в житті міста, але при цьому Ви
                            перебуваєте у затишній кімнаті.</p>
                    </li>
                </ul>
            </div>

            <div class="advantages__img-wrap">
                <picture>
                    <source srcset="/img/botanic/window.webp 1x, /img/botanic/window@2x.webp 2x"
                            type="image/webp">

                    <img src="/img/botanic/window.jpg"
                         srcset="/img/botanic/window@2x.jpg 2x"
                         alt=""
                         class="advantages__img"
                         loading="lazy">
                </picture>

                <div class="advantages__vertical-wrap">
                    <div class="advantages__vertical flex --align-center --just-center">
                        <p>20 ПОВЕРХ</p>
                    </div>

                    <div class="advantages__text-wrap">
                        <p class="advantages__text">ВІКНА З ПАНОРАМНИМ ВИДОМ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>