.saksaganskogo-heading-bg {
  background-image: url("/img/saksaganskogo/intro/botanic-intro-left.jpg");

  &:before {
    background: rgba(20, 20, 20, .92);
  }
}

.saksaganskogo-photo-bg {
  background-image: url("/img/saksaganskogo/intro/botanic-intro-right.jpg");
}

.s-benefits {
  margin: 0 10px;
  background-color: #282d32;
}