<section class="botanic-benefits --bg--black --bg--min">
    <div class="container">
        <ul class="benefits">
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#sprite--distance"/>
                </svg>

                <p>
                    1.9 км до вул. Хрещатик.
                </p>
            </li>
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#sprite--direction"/>
                </svg>

                <p>
                    Зручний виїзд в будь-яку частину міста.
                </p>
            </li>

            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#sprite--infrastructure"/>
                </svg>

                <p>
                    Розвинена бізнес-інфраструктура.
                </p>
            </li>

            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#sprite--distance-2"/>
                </svg>

                <p>
                    850 метрів до метро Університет.
                </p>
            </li>
        </ul>
    </div>
</section>